
.nav-container {
    /* background-color: rgb(21, 16, 54); */
    display: flex;
    position: fixed;
    top: 0;
    height: 50px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* padding: .5rem; */
    box-shadow: 1px 5px 30px;    
    font-weight: 500;
    z-index: 10;
}
.nav-left {
    color: var(--clr-primary);
    padding-left: 10px;
    font-weight: bolder;
}
.nav-right {
    padding-right: 10px;
    display: flex;
    gap:5px;
    align-items: center;
}
.nav-right a {
    color: var(--clr-fg);
    text-decoration: none;
}